/*
Page pannel
Div affichant les infos concernées.
N'apparaissent que lors d'un clic sur le lien
JS dans Pannel.js
*/
#publicAutresPrec, #informerAutresPrec, #droitsQui, #droitsAdresseMail, #donneesExterne, #interconnexionPrec, #archivagePrec {
    display: none;
    clear: both;
}

#listEnCours {
    display: none;
}

#listValidees {
    display: none;
}

#listARevoir {
    display: none;
}

#tabsVosFiches {
    margin-bottom: 15px;
}

.page-header {
    clear: both;
}

#fichesAControler {
    display: none;
    margin-bottom: 25px;
}

#fichesAValider {
    display: none;
    margin-bottom: 25px;
}

#fichesASigner {
    display: none;
    margin-bottom: 25px;
}

#sousTitre {
    display: none;
}

.h2Deroulant {
    cursor: default;
}

#formulaire {
    display: none;
}

.labelFormulaire {
    display: block;
    font-style: italic;
    clear: both;
    margin-top: 20px;
    font-weight: bold;
}

.inputsForm {
    width: 100%;
}

.inputsFormLeft {
    width: 49%;
    Float: left;
}

.inputsFormRight {
    width: 49%;
    float: right;
}

.inputsFormLeft75 {
    width: 60%;
    Float: left;
    padding: 10px;
    border-right: 1px dashed black;
    margin-top: 5px;
    margin-bottom: 5px
}

.inputsFormRight25 {
    width: 40%;
    float: right;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px
}

.pop {
    height: 100%;
    width: 100%;
    margin: auto;
}

.thcent {
    text-align: center;
    vertical-align: middle;
}

.tdcent {
    text-align: center;
    vertical-align: middle;
}

.thleft {
    text-align: left;
}

.tdleft {
    text-align: left;
}

.thright {
    text-align: right;
}

.tdright {
    text-align: right;
}

.donneesCat {
    display: none;
}

legend {
    padding-top: 30px;
    margin-bottom: 0;
    clear: both;
}

#FicheUpload {
    margin-top: 15px;
}

.sender {
    margin-top: 30px;
    margin-right: 30px;
}

.login {
    margin-bottom: 25px;
}

.boutonsAction5 {
    margin-left: 5px;
}

.boutonsAction15 {
    margin-left: 15px;
}

tr[class^='selectConsultDest'] {
    display: none;
    margin-top: 30px;
}

tr[class^='selectValidDest'] {
    display: none;
    margin-top: 30px;
}

tr[class^='selectDestTrans'] {
    display: none;
    margin-top: 30px;
}

tr[class^='commentaireRefus'] {
    display: none;
    margin-top: 30px;
}

tr[class^='commentaireRepondre'] {
    display: none;
    margin-top: 30px;
}

tr[class^='selectDestConsultValider'] {
    display: none;
    margin-top: 30px;
}

tr[class^='selectDestValidValider'] {
    display: none;
    margin-top: 30px;
}

.btnDivSend {
    margin-top: 10px;
    margin-right: 10px;
}

.cinquante {
    width: 50%;
}

.tuilesStatuts {
    margin-top: 15px;
    padding: 10px;
}

.tuilesStatutsNom {
    clear: both;
    margin-top: 5px;
}

.tuilesStatutsDateCrea {
    margin-top: 15px;
}

.tuilesStatutsDateSend {
    margin-top: 15px;
}

.listeValidation, .listeValidee, .listeRefusee, .listeAValider {
    display: none;
}

#footer {
    margin-top: 35px;
}

#flashsuccess {
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    border: 1px solid #5CB85C;
    z-index: 20;
}

#flasherror {
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    border: 1px solid #D9534F;
    z-index: 20;
}

#flashinfo {
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    border: 1px solid #337AB7;
    z-index: 20;
}

#flashwarning {
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    border: 1px solid #F0AD4E;
    z-index: 20;
}

#relatif {
    position: relative;
}

.tableauFichiers {
    margin-top: 10px;
}

.recherche {
    margin-bottom: 20px;
}

#caretFichesAControler, #caretVosFiches {
    margin-right: 20px;
}

.glyph {
    height: 20px;
    width: 18px;
}

.droitsVille {
    visibility: hidden;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 15px;
}

.droitsParticuliers {
    display: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.obligatoire {
    color: red;
}

legend {
    background-color: #E9E9E9;
    padding: 15px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.precision {
    clear: both;
    padding: 10px;
    font-style: italic;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin-top: 25px;
}

fieldset {
    margin-top: 20px;
}

.check {
    text-decoration: none;
    font-style: normal;
}

.tableDonnees {
    margin-top: 10px;
}

.infoSensibles {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.listCheckBox {
    margin-left: 35px;
}

.small {
    font-size: 0.9em;
}

#transfertdiv, #transfert6div, #transfertconcerneautresdiv, #accesinformationautresdiv, #coordoneesreponse, #miseenoeuvreexternecoordonneesdiv, #finalitecibleautresdiv, #technologiesparticulieresautresdiv {
    display: none;
}

.error-message {
    display: none;
}

.btn-file {
    margin-top: 10px;
    border: none;
}

.listFiles {
    margin-top: 15px;
}

.itemfiles {
    padding-bottom: 20px;
}

.boutondelfile {
    float: right;
}

.boutondlfile {
    float: right;
    margin-right: 10px;
}

.boutonannuler {
    float: right;
    display: none;
}

.checkerFile {
    display: none;
}

.hrComms {
    border-color: #c0c0c0;
}

/* Chosen Bootstrap */
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: #fff none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top: 4px;
    color: #000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background: #FFF none;
}

select.form-control + .chosen-container .chosen-results {
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin: 2px 0 5px;
}

select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image: none;
}

select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
    color: #FFF;
    text-decoration: none;
    background: #428BCA none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background: #FFF none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: auto;
    padding: 5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background: #FFF none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 8px;
    right: 6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

#divFiltrage {
    clear: both;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 10px;
    margin-bottom: 30px;
}

.error-message {
    display: block;
    background-color: #f2dede;
    border-bottom: 1px solid #a94442;
    border-right: 1px solid #a94442;
    color: #a94442;
}

.logo-well {
    height: 70px;
}

.divs-autres {
    clear: both;
}

.list-historique {
    display: none;
    max-height: 600px;
    overflow: scroll;
}

.list-parcours {
    max-height: 635px;
    overflow: scroll;
}

#filtrageUsers {
    margin-bottom: 30px;
}

#filtreUsers {
    clear: both;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 10px;
    margin-bottom: 30px;
}

/* Margins pour les rows bootstrap */
.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom17 {
    margin-bottom: 17px;
}

.bottom30 {
    margin-bottom: 30px;
}

.etatIcone {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

.panel-body-custom {
    padding: 0 0 0 0;
}

.container-fluid-custom {
    margin-left: 5%;
    margin-right: 5%;
}

.fa-primary {
    color: #3E87C6;
}

.fa-warn {
    color: #F0AD4E;
}

.fa-danger {
    color: #D9534F
}

.fa-success {
    color: #5CB85C;
}

.versioning {
    font-size: 0.9em;
    border-top: 1px solid #d3d3d3;
}

.head {
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #d3d3d3;
}

.requis {
    color: red;
}

.send {
    margin-top: 25px;
}

.titreDiv {
    margin-bottom: 15px;
}

#form-container {
    border: 1px solid #d3d3d3;
    min-height: 500px;
    position: relative;
    padding: 0 0 0 0;
}

.draggable {
    position: absolute;
}

.mover {
    cursor: move;
}

.ui-selected {
    background-color: #E3E3E3;
}

#field-affix {
    position: fixed;
    right: 55px;
    width: 30%;
}

.closer {
    cursor: pointer;
}

.form-oblig {
    border: 1px solid #E3E3E3;
    padding-bottom: 35px;
}

.row35 {
    height: 35px;
    overflow: visible;
}

.btn-default-primary {
    background-color: #ffffff;
    border-color: #337ab7;
    color: #337ab7;
}

.btn-default-primary:hover,
.btn-default-primary:focus,
.btn-default-primary.focus,
.btn-default-primary:active,
.btn-default-primary.active,
.open > .dropdown-toggle.btn-default-primary {
    background-color: #ffffff;
    border-color: #286090;
    color: #286090;
}

.btn-default-success {
    background-color: #ffffff;
    border-color: #5cb85c;
    color: #5cb85c;
}

.btn-default-success:hover,
.btn-default-success:focus,
.btn-default-success.focus,
.btn-default-success:active,
.btn-default-success.active,
.open > .dropdown-toggle.btn-default-success {
    background-color: #ffffff;
    border-color: #449d44;
    color: #449d44;
}

.btn-default-danger {
    background-color: #ffffff;
    border-color: #d9534f;
    color: #d9534f;
}

.btn-default-danger:hover,
.btn-default-danger:focus,
.btn-default-danger.focus,
.btn-default-danger:active,
.btn-default-danger.active,
.open > .dropdown-toggle.btn-default-danger {
    background-color: #ffffff;
    border-color: #c9302c;
    color: #c9302c;
}

.btn-default-default {
    background-color: #ffffff;
    border-color: #666666;
    color: #666666;
}

.btn-default-default:hover,
.btn-default-default:focus,
.btn-default-default.focus,
.btn-default-default:active,
.btn-default-default.active,
.open > .dropdown-toggle.btn-default-default {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}

.left5 {
    margin-left: 5px;
}

.boutonsFileHide {
    display: none;
}

.info_notification {
    overflow: auto;
    height: auto;
    max-height: 300px !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .chosen-container .chosen-search input[type="text"] {
        background: image-url('chosen-sprite@2x.png') 100% -20px / 52px 37px no-repeat scroll #fff !important;
    }
}

.navbar-brand {
    padding: 0 0 0 0;
}

fieldset.organisation-block {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 15px;
}
fieldset.organisation-block legend {
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 18px;
    padding: 0;
    width: auto;
}

/* Particularités pour les pages "Liste des utilisateurs" et "Liste des utilisateurs de l'application" */

table.table-striped.users > tbody > tr:nth-child(2n+1) > td, table.table-striped.users > tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}

table.table.table-striped.users tbody tr.odd {
    background-color: rgba(0, 0, 0, 0.05);
}

table.table.table-striped.users tbody tr.even {
    background-color: transparent;
}

table.table.users ul {
    padding-left: 1em;
}

table.table-striped.users thead th a {
    color: #333;
}

*.glyphicon.help {
	cursor: help;
}

span.input-group-addon label {
	margin-bottom: 0;
}